<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <title>Admin</title>
</head>
<body>
    <h3>Add</h3>
    <button id="addBtn">+</button>
    <div class="flex-container">
        <form id="formContainer" action="/addquotes"  method="POST">
            <input name="author" type="text"/>
            <input type="submit"/>
        </form>
    </div>

    <script src="js/admin.js"></script>
</body>
</html>